### Import Library

In [1]:
import pandas as pd 
import numpy as np

### Data Frame

In [2]:
df = pd.read_csv('K01_heart_disease.csv')
df #menampung data

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,M,ATA,140,289,0,Normal,172,N,0.0,Up,0
1,49,F,NAP,160,180,0,Normal,156,N,1.0,Flat,1
2,37,M,ATA,130,283,0,ST,98,N,0.0,Up,0
3,48,F,ASY,138,214,0,Normal,108,Y,1.5,Flat,1
4,54,M,NAP,150,195,0,Normal,122,N,0.0,Up,0
...,...,...,...,...,...,...,...,...,...,...,...,...
913,45,M,TA,110,264,0,Normal,132,N,1.2,Flat,1
914,68,M,ASY,144,193,1,Normal,141,N,3.4,Flat,1
915,57,M,ASY,130,131,0,Normal,115,Y,1.2,Flat,1
916,57,F,ATA,130,236,0,LVH,174,N,0.0,Flat,1
917,38,M,NAP,138,175,0,Normal,173,N,0.0,Up,0

In [3]:
df.info() #menampilkan info dari data

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 918 entries, 0 to 917
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Age             918 non-null    int64
 1   Sex             918 non-null    object
 2   ChestPainType   918 non-null    object
 3   RestingBP       918 non-null    int64
 4   Cholesterol     918 non-null    int64
 5   FastingBS       918 non-null    int64
 6   RestingECG      918 non-null    object
 7   MaxHR           918 non-null    int64
 8   ExerciseAngina  918 non-null    object
 9   Oldpeak         918 non-null    float64
 10  ST_Slope        918 non-null    object
 11  HeartDisease    918 non-null    int64
dtypes: float64(1), int64(6), object(5)
memory usage: 86.2+ KB

In [4]:
from sklearn.preprocessing import LabelEncoder #mengubah data object menjadi numerik
for col in ['Sex', 'ChestPainType', 'RestingECG', 'ExerciseAngina', 'ST_Slope']:
    le = LabelEncoder()
    df[col] = le.fit_transform(df[col])
    df
    print (df['Sex'].unique(), df['ChestPainType'].unique(), df['RestingECG'].unique(), df['ExerciseAngina'].unique(), df['ST_Slope'].unique())

[1 0] ['ATA' 'NAP' 'ASY' 'TA'] ['Normal' 'ST' 'LVH'] ['N' 'Y'] ['Up' 'Flat' 'Down']
[1 0] [1 2 0 3] ['Normal' 'ST' 'LVH'] ['N' 'Y'] ['Up' 'Flat' 'Down']
[1 0] [1 2 0 3] [1 2 0] ['N' 'Y'] ['Up' 'Flat' 'Down']
[1 0] [1 2 0 3] [1 2 0] [0 1] ['Up' 'Flat' 'Down']
[1 0] [1 2 0 3] [1 2 0] [0 1] [2 1 0]

In [5]:
# axis=1 menghapus kolom
# axis=0 menghapus baris
x = df.drop('HeartDisease', axis=1)
y = df['HeartDisease']

In [6]:
from sklearn.model_selection import train_test_split  #melakukan split data / memisahkan data

x_train, x_test, y_train, y_test = train_test_split(x,y,
                                                   test_size = 0.25,
                                                   random_state = 0)

### Model KNN

In [7]:
from sklearn.neighbors import KNeighborsClassifier #import library knn 
knnModel = KNeighborsClassifier(n_neighbors = 3) #pendekatakan dengan 3 tetangga terdekat
knnModel.fit(x_train, y_train)

KNeighborsClassifier(n_neighbors=3)

In [8]:
predict = knnModel.predict(x_test) #uji data menggunakan x_test 
predict #menampilkan array

C:\Users\wahyu\anaconda3\lib\site-packages\sklearn\neighbors\_classification.py:228: FutureWarning: Unlike other reduction functions (e.g. `skew`, `kurtosis`), the default behavior of `mode` typically preserves the axis it acts along. In SciPy 1.11.0, this behavior will change: the default value of `keepdims` will become False, the `axis` over which the statistic is taken will be eliminated, and the value None will no longer be accepted. Set `keepdims` to True or False to avoid this warning.
  mode, _ = stats.mode(_y[neigh_ind, k], axis=1)

array([1, 1, 1, 1, 0, 0, 1, 0, 1, 1, 0, 0, 1, 1, 1, 0, 0, 1, 0, 0, 1, 1,
       1, 1, 0, 0, 1, 1, 1, 1, 1, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 1, 1, 0,
       1, 1, 0, 1, 1, 0, 1, 0, 1, 1, 1, 0, 0, 1, 1, 0, 1, 1, 0, 0, 1, 1,
       1, 1, 1, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 1, 0, 0, 1, 1,
       1, 0, 1, 1, 0, 0, 1, 0, 1, 0, 1, 1, 0, 1, 1, 1, 0, 0, 0, 0, 0, 1,
       1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 0, 0, 1, 0, 1,
       1, 0, 1, 0, 1, 1, 0, 0, 1, 0, 0, 1, 0, 0, 1, 1, 1, 1, 0, 0, 1, 1,
       0, 0, 1, 1, 1, 1, 0, 0, 0, 1, 0, 1, 1, 0, 1, 1, 1, 1, 0, 1, 0, 1,
       0, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 0, 1, 1, 0, 1, 0, 1,
       1, 1, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 1, 0, 1, 1,
       1, 1, 1, 0, 1, 1, 0, 1, 1, 1], dtype=int64)

### Model Evaluation

In [9]:
from sklearn import metrics
from sklearn.metrics import classification_report, accuracy_score

print("K-Nearest Neighbors model accuracy(in %):", metrics.accuracy_score(y_test, predict) * 100) #output hasil prediksi

K-Nearest Neighbors model accuracy(in %): 66.08695652173913